body {
    background-color: coral;
}
header > h1 {
    outline-color: darksalmon;
    outline-width: medium;
    outline-style: dashed;
}
header h2 {
    font-style: italic;
}
main h2 {
    font-family: cursive;
}
h2 {
    color: bisque;
    line-height: 50%;
}