body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:tomato;
}

.navbar {
    padding: 20px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;   
}

a:hover {
    font-size: larger;
    rotate: 180;
    font-family: 'Times New Roman';
    color: darkorchid;
    outline-width: 2;
    outline-color: wheat;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section img {
    width: 32%;
    margin-right: 1.3%;
    aspect-ratio: 8;
    rotate: 45;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

h1 {
    font-family: Impact;
    font-style: oblique;
    font-variant: small-caps;
    color:khaki;
}